---
layout: base.njk
permalink: /topics/index.html
title: トピックス
bodyId: topics
---

<div id="contents">
  <div class="inner_contents">

    <div class="page_title">
      <h2>トピックス</h2>
      <p class="subtitle">Topics</p>
    </div>

    <ul class="topics-list">
      {%- for t in topics.topics %}
      <li class="topics-item">
        <a href="/topics/{{ t.slug }}.html">
          <time datetime="{{ t.datetime }}">{{ t.date }}</time>
          <h3>{{ t.title }}</h3>
          {% if t.summary %}<p class="summary">{{ t.summary }}</p>{% endif %}
        </a>
      </li>
      {%- endfor %}
    </ul>

  </div>
</div>
