<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="FOLLOW,INDEX">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ description or site.description }}">
<meta name="keywords" content="{{ keywords or site.keywords }}">

<title>{{ title }}{% if title %} | {% endif %}{{ site.title }}</title>

<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<link href="/common/css/default.css" rel="stylesheet">
<link href="/common/css/frame.css" rel="stylesheet">
<link href="/common/css/contents.css" rel="stylesheet">
<link href="/common/css/index.css" rel="stylesheet">
<link href="/common/css/modaal.css" rel="stylesheet">
<link href="/common/css/swiper.min.css" rel="stylesheet">
{% if bodyId == "papers" %}<link href="/common/css/papers.css" rel="stylesheet">{% endif %}
<script src="https://kit.fontawesome.com/c041c25591.js" crossorigin="anonymous"></script>

<meta property="og:title" content="{{ title }} | {{ site.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url }}/common/img/img_fb.gif">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:description" content="{{ description or site.description }}">
<meta property="og:locale" content="ja_JP">
<meta name="twitter:card" content="summary_large_image">
</head>

<body id="{{ bodyId or 'page' }}">

{% include "header.njk" %}

<main>
{{ content | safe }}
</main>

{% include "footer.njk" %}

<script src="/common/js/jquery-3.5.1.min.js"></script>
<script src="/common/js/jquery.heightLine.js"></script>
<script src="/common/js/jquery.plugin.js"></script>
<script src="/common/js/modaal.js"></script>
<script src="/common/js/swiper.min.js"></script>
</body>
</html>
